*
  margin: 0
  padding: 0
  box-sizing: border-box
  list-style: none
body
  background-image: url("img/fondo.jpg")

// HEADER
header
  width: 100%
  height: 10vh
  padding: 10px
  background-color: #262C3A
  display: flex
  align-items: center
  justify-content: space-around
.logoHeader
  width: 75px
.photoHeader
  width: 255px
.navHeader
  width: 50%
  display: flex
  justify-content: space-around
  flex-direction: row
  column-gap: 150px
  color: white
.buttonsHeader
  display: flex
  width: 100%
  font-size: 25px
  font-family: sans-serif
  justify-content: space-between
.iconsHeader
  display: flex
  color: white
  justify-content: space-between
  width: 80px
  font-size: 25px